~~~
~~ #%L
~~ Artimate
~~ %%
~~ Copyright (C) 2011 - 2012 INRIA
~~ %%
~~ This program is free software: you can redistribute it and/or modify
~~ it under the terms of the GNU General Public License as
~~ published by the Free Software Foundation, either version 3 of the 
~~ License, or (at your option) any later version.
~~ 
~~ This program is distributed in the hope that it will be useful,
~~ but WITHOUT ANY WARRANTY; without even the implied warranty of
~~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
~~ GNU General Public License for more details.
~~ 
~~ You should have received a copy of the GNU General Public 
~~ License along with this program.  If not, see
~~ <http://www.gnu.org/licenses/gpl-3.0.html>.
~~ #L%
~~~
 ---
 ${project.name}
 ---

Installation

  Artimate is installed by running Maven in the project source directory:
  
+--
$ mvn install

[...]

[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO] 
[INFO] Artimate .......................................... SUCCESS [1.264s]
[INFO] Artimate Model Compiler ........................... SUCCESS [1.694s]
[INFO] Artimate Core ..................................... SUCCESS [0.975s]
[INFO] Artimate Demo App ................................. SUCCESS [3.710s]
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
+--
