# name of tongue mesh file in data.directory:
model.file = gums.blend

# paths to external programs:
path.to.blender = /Applications/blender.app/Contents/MacOS/blender
path.to.praat = /Applications/Praat.app/Contents/MacOS/praat

# generated output files:
pos.file = all.pos
lab.file = all.lab
wav.file = all.wav
dae.file = Tongue.dae

# logging
log.level = debug
