# TODO hardcoded for now, but can be overriden by -Ddata.directory
data.directory = /Users/steiner/projects/tonguebuilding

# name of tongue mesh file in data.directory:
mesh.file = Tongue.ply

# paths to external programs:
path.to.blender = /Applications/blender.app/Contents/MacOS/blender
path.to.praat = /Applications/Praat.app/Contents/MacOS/praat
path.to.python = python

# generated output files:
pos.file = all.pos
lab.file = all.lab
dae.file = Tongue.dae
